<% content_for(:title, t('.title')) %>

<div class="text-center">
    <div class="form-signin">
        <h3 class="my-5 fw-normal">パスワード変更</h3>
        <%= form_with model:@user,url:password_reset_path(@token),local: true do |f|%>
            <div class="col-md-6 offset-md-3">
                <%= render 'shared/error_messages', object: f.object %>
            </div>
            <div class="form-floating mb-3">
                <%=f.password_field :password, placeholder: "新しいパスワードを入力"%>
            </div>

            <div class="form-floating mb-3">
                <%=f.password_field :password_confirmation, placeholder: "パスワード確認"%>
            </div>
            <%=f.submit "更新する",class:"btn btn-warning"%>
        <%end%>
    </div>
</div>