<% content_for(:title, t('.title')) %>
<div class="text-center">
    <div class="form-signin">
        <h3 class= "my-5 fw-normal">マイページ</h3>
        <%= form_with model: @user, local: true do |f| %>
            <div class="col-md-6 offset-md-3">
                <%= render 'shared/error_messages', object: f.object %>
            </div>
            
            <div class="form-floating mb-3">
                <%= f.text_field :email, class: "mx-2" %>
                <%= f.submit "更新する", class: "btn btn-warning" %>
            </div>
        <%end%>
        <div class= "mt-5" >
            <%= link_to "アカウントを削除する", user_path(current_user), method: :delete, class: "m-3 btn btn-outline-danger"%>
            <%= link_to "戻る", timers_path, class: "btn btn-secondary" %>
        </div>
    </div>
</div>
