<% content_for(:title, @timer.name + "編集") %>

<h3><%= "#{@timer.name}"%>編集</h3>
<%= form_with model: @timer, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>   

    <div class="col-md-4 mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="row mb-3">
        <div class="col-md-2">
            <%= f.label :work_time, class: "form-label" %>
            <%= f.time_field :work_time, class: "form-control" %>
        </div>

        <div class="col-md-2">
            <%= f.label :rest_time, class: "form-label" %>
            <%= f.time_field :rest_time, class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2">
            <%= f.label :start_time, class: "form-label" %>
            <%= f.time_field :start_time, class: "form-control" %>
        </div>

        <div class="col-md-2">
            <%= f.label :finish_time, class: "form-label" %>
            <%= f.time_field :finish_time, class: "form-control" %>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <%= f.label :character, class: "form-label" %>
        <%= f.select :character, Timer.characters_i18n.invert, {}, { class: "form-select" } %>
    </div>

    <div class="form-check">
        <div class="row mb-3">
            <div><%= f.label :repetition %></div>

            <div>
                <%= f.label :repetition, "くり返しなし", for: "formRadioDefault1" %>
                <%= f.radio_button :repetition, :no_repeat, class: "form-check-input", id: "formRadioDefault1"%>
            </div>

            <div>
                <%= f.label :repetition, "毎日", for: "formRadioDefault2" %>
                <%= f.radio_button :repetition, :everyday, class: "form-check-input", id: "formRadioDefault2" %>
            </div>

            <div>
                <%= f.label :repetition, "毎月曜日", for: "formRadioDefault3" %>
                <%= f.radio_button :repetition, :monday, class: "form-check-input", id: "formRadioDefault3" %>
            </div>

            <div>
                <%= f.label :repetition, "毎火曜日", for: "formRadioDefault4" %>
                <%= f.radio_button :repetition, :tuesday, class: "form-check-input", id: "formRadioDefault4" %>
            </div>

            <div>
                <%= f.label :repetition, "毎水曜日", for: "formRadioDefault5" %>
                <%= f.radio_button :repetition, :wednesday, class: "form-check-input", id: "formRadioDefault5" %>
            </div>
        </div>
        <div class="row mb-3">
            <div>
                <%= f.label :repetition, "毎木曜日", for: "formRadioDefault6" %>
                <%= f.radio_button :repetition, :thursday, class: "form-check-input", id: "formRadioDefault6" %>
            </div>

            <div>
                <%= f.label :repetition, "毎金曜日", for: "formRadioDefault7" %>
                <%= f.radio_button :repetition, :friday, class: "form-check-input", id: "formRadioDefault7" %>
            </div>

            <div>
                <%= f.label :repetition, "毎土曜日", for: "formRadioDefault8" %>
                <%= f.radio_button :repetition, :saturday, class: "form-check-input", id: "formRadioDefault8" %>
            </div>

            <div>
                <%= f.label :repetition, "毎日曜日", for: "formRadioDefault9" %>
                <%= f.radio_button :repetition, :sunday, class: "form-check-input", id: "formRadioDefault9" %>
            </div>
        </div>
    </div>

    <div>
        <%= f.label :sound%>
        <%= f.text_field :sound %>
    </div>

    <%= f.submit "更新する", class: "m-4 btn btn-warning" %>
    <%= link_to "戻る", timers_path, class: "btn btn-secondary" %>
<% end %>
