<% content_for(:title, t('.title')) %>
<div class="text-center">
    <div class="form-signin">
        <h1 class="h3 my-5 fw-normal">Log in</h1>
        <%= form_with url: login_path, local: true do |f| %>
            <div class="form-floating mb-3">
                <%= f.email_field :email, placeholder: "メールアドレス" %>
            </div>

            <div class="form-floating mb-4">
                <%= f.password_field :password, placeholder: "パスワード" %>
            </div>

            <div>
                <%= f.submit "Log in", class: "mb-3 btn btn-warning" %>
            </div>
        <% end %>
        <%= link_to "パスワードを忘れた方はこちら", new_password_reset_path, class: "link-secondary"%>
    </div>
</div>